<div class="banner">
  <h1>Longest Word Game</h1>
  <h2 style="color: orange">Here is your score</h2>
</div>

<div class="container results">
  <p><%= @result[:message] %><br>Your score: <%= @result[:score] %></p>
</div>

<div class="banner">
  <h2>Thank you for playing with us</h2>
  <p>Play again!</p>
</div>
